.icons{
    display: flex;
    align-items: center;
    filter: brightness(1) saturate(100%) invert(70%) sepia(100%) saturate(1000%) hue-rotate(180deg);
  }
  .icon{
    margin-right:40px;
    width: 25px;
    list-style: none;
  }
  
